#top {
    position: sticky; 
    background-color: white;
    border: 5px solid black;
    height: auto;
    max-height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
#title {

    padding: auto;
    margin: auto;
    font-size: 400%;
    color: black;;

}
#sex {
    flex-basis: auto;
    width:fit-content;

}
#inst {
    flex-basis: auto;
    min-width: 60%;
}
#indg {
    flex-basis: auto;
    min-width: 35%;
}
#menubut {
    flex-basis: auto;
    width: 10%;
}

#middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}




body {
    background-image: url("../img/roe.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}




/*
Klasser
*/
.box {
    border: 5px solid black;
    background-color: white;
}
.inst {

}
.ingredient {
    margin: 2%;

}
